.left {
  height: 100vh;
  overflow: hidden;
}

.image-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-scroll-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* 100% * number of images */
  height: 100%;
}

.image {
  width: 100%; /* 100% / number of images */
  height: 100%;
  object-fit: cover;
}

.image-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.indicator {
  width: 30px;
  height: 5px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}
