/* .power-bi-report-class {
  height: '100vh !important';
} */

.power-bi-report-class iframe {
  height: 80vh !important;
  width: 100% !important;
  border: none; /* Optional for cleaner styling */
}
