.gm-style-iw {
  background-color: #2c3e50 !important;
  padding: 0 !important;
}

.gm-style-iw-c {
  background-color: #2c3e50 !important;
  padding: 0 !important;
}

.gm-style-iw-d {
  background-color: #2c3e50 !important;
  overflow: hidden !important;
  padding: 0 !important;
}

.gm-style-iw-a {
  background-color: #2c3e50 !important;
}

.gm-style-iw-t {
  background-color: #2c3e50 !important;
}

/* To target the tail of the InfoWindow */
.gm-style-iw-tc::after {
  background-color: #2c3e50 !important;
}

.gm-ui-hover-effect > span {
  background-color: #fff;
}

.gm-style .gm-iw {
  color: #ffffff;
}

.gm-style .gm-style-iw-d {
  padding: '20px';
  color: #fff;
}

.poi-info-window .full-width {
  background-color: #2c3e50 !important;
  color: #fff;
}

.ant-picker-input > input::placeholder {
  color: #3e3e3e !important;
}

.recharts-wrapper > svg > g {
  outline: none !important;
}

.recharts-pie-sector {
  outline: none !important;
}

.ant-picker-mui-styled {
  .ant-picker-input > input {
    font-size: 14px !important;
    font-family: Poppins, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-weight: 500 !important;
    color: #3f5c78 !important;

    &::placeholder {
      color: #3f5c78 !important;
      opacity: 1; /* Prevents dimmed color in some browsers */
    }
  }

  .ant-picker-suffix {
    display: flex;
    align-items: center;
  }

  &:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(63, 92, 120, 0.04);
    border: 1px solid #3f5c78;
  }
}
